nav {
    background-color: #8FC1B5;
    border: 4px solid #a0d6ca;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    float: left;
    width: 100%;
    height: auto;
    margin: 5px 5px 5px 5px;
}
nav ul {
  list-style-type: none;
  padding: 5px;
}
body {
    margin:0;
    padding: 0;
    color: white;
    background-color: #ffffff;
    text-shadow:#000000 1px 1px 2px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
header {
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 2px;
    margin: 5px 5px 5px 5px;
}
#section1 {
    background-color: #007566;
    border: 4px solid #018573;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    float: left;
    width: 48%;
    margin: 5px 5px 5px 5px;
}
#section2 {
    background-color: #589A8D;
    border: 4px solid #63ac9d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    float: left;
    width: 70%;
    height: auto;
    margin: 5px 5px 5px 5px;
}
#section3 {
    background-color: #8FC1B5;
    border: 4px solid #a0d6ca;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: right;
    float:left;
    width: 33.3%;
}
.container {
    font-family: Arial, sans-serif;
    background-color: #335c52;
    padding: 40px;
    margin: 30px 100px 30px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
}
.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
}
section {
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
}
footer {
    background-color: #146551;
    border: 4px solid #197760;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    clear: both;
}

