img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin:0;
    padding: 0;
    color: white;
    background-color: #ffffff;
    text-shadow:#000000 1px 1px 2px;
}
header {
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 2px;
    margin: 10px 10px 10px 10px;
}
#section1 {
    background-color: #007566;
    border: 4px solid #018573;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    float: left;
    width: 48%;
    margin: 5px 5px 5px 5px;
}
#left {
    background-color: #589A8D;
    border: 4px solid #63ac9d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    width: 70%;
    height: auto;
    margin: 5px 10px 5px 10px;
    float:left;
}
#right {
    background-color: #8FC1B5;
    border: 4px solid #a0d6ca;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    width: 27%;
    float: left;
    margin: 5px 5px 5px 5px;
}
.container {
    font-family: Arial, sans-serif;
    background-color: #335c52;
    padding: 10px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
}
.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #0c4441;
}
a:visited {
    color: #d0e090;
}
section {
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
}
footer {
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 10px 5px 10px;
    clear: both;
    text-align: center;
}

