body {
    margin: 0;
    padding: 0;
    background-color: #7f9e98;
}
header {
    color: #ffffff;
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
#section1 {
    color: #ffffff;
    background-color: #007566;
    border: 4px solid #018573;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    float: left;
    width: 33.3%;
}
#section2 {
    color: #ffffff;
    background-color: #589A8D;
    border: 4px solid #63ac9d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    float: left;
    width: 33.3%;
}
#section3 {
    color: #ffffff;
    background-color: #8FC1B5;
    border: 4px solid #a0d6ca;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: right;
    float:left;
    width: 33.3%;
}
.container {
    font-family: Arial, sans-serif;
    background-color: #335c52;
    padding: 40px;
    margin: 30px 100px 30px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
}
footer {
    color: #ffffff;
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    clear: both;
}

