#section1 {
    color: #ffffff;
    background-color: #0b1183;
    border: 4px solid #0433BF;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    float: left;
    width: 33%;
}
#section2 {
    color: #ffffff;
    background-color: #F2CB05;
    border: 4px solid #F2E205;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 0;
    width: 33%;
}
#section3 {
    color: #ffffff;
    background-color: #c70909;
    border: 4px solid #F20505;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    float:left;
    width: 33%;
}
.container {
    font-family: Arial, sans-serif;
    background-color: rgb(185, 201, 191);
    padding: 40px;
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content {
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    padding: 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
    clear: both;
}

